<header>
  <nav class="navbar navbar-expand-sm border-bottom">
    <div class="container">
      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="/home">Home</a>
          </li>
        </ul>

        <!-- Conditional Login/Logout/Settings -->
        <ul class="navbar-nav me-auto">
          {{#if logged}}
            <li class="nav-item me-2">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          {{else}}
            <li class="nav-item me-1">
              <a class="nav-link" href="/login">Login</a>
            </li>
          {{/if}}
        </ul>
      </div>
    </div>
  </nav>
</header>
