<header>Welcome!</header>

<table style="width: 100%; border-collapse: collapse;">
    <tr>
      <td>First Name</th>
      <td>{{this.first_name}}</td>
    </tr>
    <tr>
      <td>Last Name</th>
      <td>{{this.last_name}}</td>
    </tr>
    <tr>
      <td>Email</th>
      <td>{{this.email}}</td>
    </tr>
</table>
