<main>
  <div>
    <form action="/register" method="POST">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" />
      <label for="username">Username</label>
      <input type="text" id="username" name="username"/>
      <label for="password">Password</label>
      <input type="text" id="password" name="password"/>
      <button id="submit_button" type="submit">Register</button>
    </form>
        <p>
            Existing user? <a class="nav-link" href = '/login'>Login</a> 
        </p>
  </div>
</main>